.header {
    display: flex;
    background-color: black;
    color: white;
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 10px;
}

.header__logo_img {
    width: 60px;
    height: 50px
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.header__nav {
    flex: 80;
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    /* border: 1px solid lightgrey;
    border-left: 0px;
    border-right: 0px; */
}

.header__nav_link {
    text-decoration: none;
    color: inherit;
}

/* .header__nav_link:hover {
    border-bottom: 3px solid white;

} */